<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>This generates an UseCase and related Repositories</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>The name of the UseCase to create</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Name</key>
			<string>New Name:</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>LocalRepository Name would be:</string>
			<key>Description</key>
			<string>Local Repository Name.</string>
			<key>Default</key>
			<string>___VARIABLE_productName:identifier___LocalRepository</string>
			<key>Identifier</key>
			<string>localRepoShownName</string>
			<key>Type</key>
			<string>static</string>
			<key>NotPersisted</key>
			<true/>
		</dict>
		<dict>
			<key>Name</key>
			<string>RemoteRepository Name would be:</string>
			<key>Description</key>
			<string>Remote Repository Name.</string>
			<key>Default</key>
			<string>___VARIABLE_productName:identifier___RemoteRepository</string>
			<key>Identifier</key>
			<string>remoteRepoShownName</string>
			<key>Type</key>
			<string>static</string>
			<key>NotPersisted</key>
			<true/>
		</dict>
		<dict>
			<key>Name</key>
			<string>Repository Name would be:</string>
			<key>Description</key>
			<string>Repository Name.</string>
			<key>Default</key>
			<string>___VARIABLE_productName:identifier___Repository</string>
			<key>Identifier</key>
			<string>repoShownName</string>
			<key>Type</key>
			<string>static</string>
			<key>NotPersisted</key>
			<true/>
		</dict>
		<dict>
			<key>Name</key>
			<string>UseCase Name would be:</string>
			<key>Description</key>
			<string>Use Case Name.</string>
			<key>Default</key>
			<string>___VARIABLE_productName:identifier___UseCase</string>
			<key>Identifier</key>
			<string>useCaseShownName</string>
			<key>Type</key>
			<string>static</string>
			<key>NotPersisted</key>
			<true/>
		</dict>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>SortOrder</key>
	<string>0</string>
	<key>Summary</key>
	<string>This generates an UseCase and related Repositories</string>
</dict>
</plist>
